<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phones</title>
</head>
<body>
<h1>Phones List</h1>
<ul>
    {% for phone in phone %}
        {% if phone.quantity %}

            <li><h3>{{ phone.name }}</h3></li>
            <p>This phone is manufactured by {{ phone.manufacturer }}</p>
            <p>Currently in stock: {{ phone.quantity }}</p>

        {% endif %}
    {% endfor %}
</ul>
<h2>Phones currently we don't have in stock:</h2>
<ul>
    {% for phone in phone %}
        {% if not phone.quantity %}
            <li><h3>{{ phone.name }}</h3></li>
            <p>This phone is manufactured by {{ phone.manufacturer }}</p>
            <p>Expected to be available for purchase soon</p>
        {% endif %}
    {% endfor %}

</ul>

</body>
</html>
